@charset "utf-8";
#al1 {
    text-align: center;
}
#al1 p{
    margin-top: 30px;
}
.img_2{
    display: flex;
}
.img_2 img{
    margin: 70px;
}
.Works{
width: 600px;
margin: 0 auto;
margin-top: 50px;
}
.works_al:not(:last-of-type) {
    margin-bottom: 30px;
}
.works_al {
    display: flex;
    justify-content: space-between;
    padding: 0 auto;    
}
.warks_head {
    margin-bottom: 0;
    padding-top: 8px;
    font-weight: bold;
}
.warks_body {
    width: 70%;
    max-width: 800px;
    line-height: 2;
    text-align: left;
}


.fadeIn {
    animation-name: fadeInAnime;
    animation-duration:3s;
    animation-fill-mode:forwards;
    opacity: 0;
    }
    
    @keyframes fadeInAnime{
      0% {
        opacity: 0;
      }
    
      100% {
        opacity: 1;
      }
    }
    @media screen and (max-width: 960px){
        .Works{
            width: 400px;
            margin: 0 auto;
            margin-top: 50px;
            }
            .works_al:not(:last-of-type) {
                margin-bottom: 30px;
            }
            .works_al {
                display: flex;
                justify-content: space-between;
                padding: 0 auto;    
            }
            .warks_head {
                margin-bottom: 0;
                padding-top: 8px;
                font-weight: bold;
                font-size: 15px;
            }
            .warks_body {
                width: 70%;
                max-width: 800px;
                line-height: 2;
                text-align: left;
            }
            .img_2{
                display: block;
            }
            .img_2 img{
                margin: 25px;
            }
            
    }    
    @media screen and (max-width: 767px){
        .Works{
            margin: 0 auto;
            margin-top: 50px;
            }
            .works_al:not(:last-of-type) {
                margin-bottom: 30px;
            }
            .works_al {
                display: flex;
                justify-content: space-between;
                padding: 0 auto;    
            }
            .warks_head {
                margin-bottom: 0;
                padding-top: 8px;
                font-weight: bold;
                font-size: 14px;
            }
            .warks_body {
                line-height: 2;
                text-align: left;
                font-size: 13px;
            }
            
    }