@charset 'utf-8';

.gnavi{
    padding-right: 90px;
}
#profile{
    display: block;
    text-align: center;
}
#profile, #timeline, #in_skil{
    padding:  0 10%;
}
#main{
    margin-top: 150px;
}
h2{
    margin-bottom: 50px;
    text-align: left;
}
h3{
    font-size: 25px;
    text-align: center;
    font-weight: normal;
    margin-bottom: 100px;
}
#skil h3{
    margin-top: 50px;
}
#top_p img{
    width: 230px;
    height: auto;
    margin: auto;
}
.text{
    width: 60%;
    text-align: left;
}
#top_p{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/*繧ｿ繧､繝�繝ｩ繧､繝ｳ蜈ｨ菴薙�險ｭ螳�*/
.timeline{
    width: 80%;
    padding: 30px 10%;
    display: block;
}

.timeline li{
    position: relative;
	list-style: none;
	padding:0 0 20px 0;
    margin-left: 0;

}

.timeline ul{
    padding: 0;
}
dt,dd{
    margin-left: 0px;
    padding-left: 50px;
}
dt{
    text-align: left;
}

dd{
    width: calc(100% - 8.5em);
    border-left: 1.5px solid #d1cdc4;
    margin:0 0 20px 3px;
    text-align: left;
    padding-bottom: 20px;
    padding-top: 10px;

}
#code, #design{
    margin: 0 80px;
    text-align: center;
    overflow-wrap: break-word;
}
#skil{
    margin-top: 170px;
    background-color: #faf8f1;
    padding-bottom: 60px;
}
#skil_contens{
    display: flex;
    justify-content: space-around;
}
#skil img{
    width: 130px;
    height: auto;
}
#name_skil{
    text-align: center;
    font-size: 22px;
}
.design_text{
    width: 100%;
    text-align: left;
}
#skil_app{
    margin-top: 30px;
    text-align: left;
}
#skil_app p{
    margin: 0;
}

/*繧ｿ繧､繝�繝ｩ繧､繝ｳ縺ｮ隕句�縺玲ｨｪ縺ｮ荳ｸ縺ｮ菴咲ｽｮ縺ｨ蠖｢迥ｶ*/
.timeline li::after{
	content:'';
	position: absolute;
	top:12px;
	left:0;
	width:9px;
	height: 9px;
	background:#b49ca0;
	border-radius: 50%;
}

@media screen and (max-width: 960px){
    #top_p img{
        width: 50%;
        margin: 0 auto;
    }
    .text{
        margin-top: 80px;
        width: 100%;
        text-align: left;
    }    
    #top_p{
        display: block;
    }
    #skil_contens{
        display: block;
    }
    #skil_contens img{
        width: 60%;
    }
    #code{
        margin-top: 100px;
    }
    #code, #design{
        margin: 0 0;
    }
    dd{
        width: calc(100% - 5.5em);
    }
    
}