@charset 'utf-8';

body{
    margin: 0;
    padding: 0;
}
ul{
    margin-right: 90px;    
}
#main_visual{
    padding:  0 10%;
    margin-top: 150px;
}
#main_contant{ 
    width: 100%;
    margin: 90px auto;
}
#overview{ 
    line-height: 2;
    padding: 0 8%;

}
#main_contant img{ 
    display: flex;
    margin: 0 auto;
    width: 63%;
}
h2{
    padding-left: 4%;
}
h3{
    font-weight: normal;
    text-align: center;
    font-size: 25px;
}
.size{
    font-size: 17px;
    margin: 0;
}

#text_overview{
    color: rgb(181, 181, 181);
    font-size: 14px;
    padding-left: 4%;

}
#lp_img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lp_color img{
    width: 100%;
    vertical-align: middle;
    box-shadow: 7px 5px 30px rgb(0, 0, 0, .2);
}
.lp_color{
    width: 720px;
    margin-left: auto;
    margin-right: 0;
}
#lp_all_img{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
#explation{
    display: block;
    margin: 80px auto;
    width: 100%;
}
#explation p{
    display: flex;
}
#LP_p_img img{
    width: 650px;
}
#LP_s_img img{
    width: 280px;
}
#ab{
    display: flex;
    width: 300px;
    font-weight: bold;
}

#explation p{
    margin-bottom: 70px;
}

#content_text{
    display: flex;
    margin-left: 0;
    width: 800px;
}
.pp{
    margin-bottom: 100px;
}
#lp_all_img_name img{
    display: flex;
    width: 45%;
    margin: 0 auto;
}
#main_contant_mane img{
    width: 50%;
    display: flex;
    margin: 0 auto;
}

#link{
    margin-top: 80px;
    padding-bottom: 90px;
    display: flex;
    justify-content: space-around;
}
.befor_g{
    color: rgb(201, 201, 201);
}
.back img, .next img{
    width: 12px;
    vertical-align: middle;
    margin:0 8px 3px 8px;
}
@media screen and (max-width:767px){
    #main_visual{
        padding:  0 1%;
        margin-top: 180px;
    }    
    #main_contant img{ 
        width: 78%;
    }
    #explation p{
        display: block;
    }
    #explation p{
        margin-bottom: 50px;
    }   
    #content_text{
        width: 100%;
    } 
    .lp_color img{
        width: 100%;
    }  
    .lp_color{
        width: 100%;
    }

    #lp_img{
        display: block;
    }
    #LP_p_img img{
        width: 100%;
        margin-bottom: 40px;
    }
    #LP_s_img img{
        width: 100%;
    }
    #lp_all_img{
        display: block;
        justify-content: center;
    }
    .lp_all_img_vert img{
        width: 100%;
    }
}